
/* src/styles/home.css */
.home-page {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.category-section {
  margin-bottom: 30px;
}

.category-section h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.featured-section {
  margin-bottom: 30px;
}

.featured-section h2 {
  font-size: 20px;
  margin-bottom: 10px;
}



.user-joined {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
}
