
.voucher-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Hiển thị 4 thẻ trên mỗi hàng */
  gap: 20px;
  padding: 10px;
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
}

